body{
    background-color: #bebebe;
}
.carcaplow {
    position: static;
    y: -500;
}
.icon-color {
    background-color:#94536d !important;
}
#background {
    background-image: url(#!);
    min-height: 100vh;
    background-origin: inherit;
}
#frontpage {
    min-height:250px;
    background-image: url(triangles.png)
}
#qr {
    padding: 2%;
    background-color: rgba(0, 0, 0, .4);
    margin-top: -8%;
    }
#support {
    margin-top: 15vh;
    margin-bottom: 5vh;
}
#s {
    font-family: 'Shadows Into Light', cursive;
    font-size: 22px;
    line-height: 32px;
}
#v {
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    font-weight: bold;
    color: red;
    line-height: 32px;
}